In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import csv

suicide_path ="Data/Suicide.csv"
# Read the suicide_path
suicide = pd.read_csv(suicide_path)
suicide.head()

   YEAR STATE  RATE DEATHS
0  2020    AL  16.0    793
1  2020    AK  27.5    204
2  2020    AZ  17.6   1363
3  2020    AR  19.0    583
4  2020    CA  10.0   4144

In [ ]:
nutrion_path ="Data/Nutrion.csv"
# Read the nutrion_path
nutrion = pd.read_csv(nutrion_path)
nutrion.head()

In [6]:
nutrion_path ="Data/Nutrion.csv"
# Read the nutrion_path
nutrion = pd.read_csv(nutrion_path)
nutrion.head()

,YEAR,CITY,Datasource,Class,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Education,Gender,Income
0,2018,MD,Behavioral Risk Factor Surveillance System,Physical Activity,32.5,28.0,37.5,671.0,NaN,NaN,NaN,NaN
1,2018,AL,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,31.9,28.0,36.1,719.0,35 - 44,NaN,NaN,NaN
2,2018,TX,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,27.2,24.7,29.8,5451.0,NaN,NaN,Female,NaN
3,2018,IA,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,38.0,35.9,40.1,2654.0,NaN,High school graduate,NaN,NaN
4,2018,TX,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,33.5,30.8,36.4,4698.0,NaN,NaN,Male,NaN

In [8]:
# Combine the data into a single dataset
sucide_nutrion = pd.merge(suicide, nutrion, on="YEAR", how="outer")
sucide_nutrion.head()

,YEAR,STATE,RATE,DEATHS,CITY,Datasource,Class,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Education,Gender,Income
0,2020,AL,16.0,793,US,Behavioral Risk Factor Surveillance System,Physical Activity,30.6,29.4,31.8,31255.0,NaN,NaN,NaN,NaN
1,2020,AL,16.0,793,DE,Behavioral Risk Factor Surveillance System,Physical Activity,15.3,6.9,30.6,65.0,NaN,NaN,NaN,NaN
2,2020,AL,16.0,793,ME,Behavioral Risk Factor Surveillance System,Physical Activity,21.7,19.9,23.7,4518.0,NaN,NaN,Male,NaN
3,2020,AL,16.0,793,MN,Behavioral Risk Factor Surveillance System,Physical Activity,28.5,25.8,31.4,1664.0,NaN,NaN,NaN,"$15,000 - $24,999"
4,2020,AL,16.0,793,SD,Behavioral Risk Factor Surveillance System,Physical Activity,22.6,19.5,26.1,3064.0,NaN,NaN,Male,NaN

In [ ]:
#create a bar chart for State and Deaths